<div class="center jumbotron">
  <h1>Welcome to Fantasy Baseball!</h1>

  <h2>
    Please Sign up or Log in  to start drafting your Fantasy Base Ball Team!
  </h2>

  <%= image_tag("draftlogo.gif",id: "draftlogo",size: "350x250", alt: "Draft logo") %> </br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


