<div class="center jumbotron">
  <h1>Welcome to Draft Picks</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= image_tag("draft.png",id: "draftlogo",size: "250x250", alt: "Draft logo") %> </br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


